__pycache__
*.egg-info
/weights/
logs
/exp/
/pad_workspace/
/dataset/
/Bench2DriveZoo/data/
__pycache__/
/Bench2Drive/b2d_ipad_multi-gpu-evaluation*/
/carla/
*egg*
.DS_Store
dataset
exp
Bench2DriveZoo/data
eval_results
debug*
tmp